In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv(r'C:\Users\hp\Downloads\Bank_Personal_Loan_Modelling.csv')

df.head()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [6]:
corr=df.corr()

In [8]:
corr[['Personal Loan']]

                    Personal Loan
ID                      -0.024801
Age                     -0.007726
Experience              -0.007413
Income                   0.502462
ZIP Code                 0.000107
Family                   0.061367
CCAvg                    0.366889
Education                0.136722
Mortgage                 0.142095
Personal Loan            1.000000
Securities Account       0.021954
CD Account               0.316355
Online                   0.006278
CreditCard               0.002802

In [10]:
x=df.drop(['ID','Age','Experience','ZIP Code','Personal Loan'],axis=1)
y=df[['Personal Loan']]

In [12]:
from sklearn.model_selection import train_test_split

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

In [15]:
x_train.shape

(3500, 9)

In [17]:
#import SVN
from sklearn.svm import SVC

In [18]:
model=SVC(C=1,kernel='linear')

In [19]:
model.fit(x_train,y_train)

C:\Users\hp\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

SVC(C=1, kernel='linear')

In [23]:
model_pred=model.predict(x_test)

In [24]:
model.score(x_test,y_test)*100

94.8

In [25]:
model.score(x_train,y_train)*100

95.34285714285714

In [28]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [29]:
cf=confusion_matrix(y_test,model_pred)

In [30]:
cf

array([[1340,   11],
       [  67,   82]], dtype=int64)